.switch-block {
  margin-bottom: 30px;
}

.toggle-switch {
  display: none;
}

.switch-block__toggle {
  margin-right: 5px;
  line-height: 19px;
}

.toggle-switch-label {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 19px;
  background-color: white;
  border-radius: 19px;
  border: 0.5px solid #7A97FF26;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-switch-label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid #CDCED8;
  transition: left 0.2s;
}

.toggle-switch:checked + .toggle-switch-label {
  background-color: var(--blue); 
}

.toggle-switch:checked + .toggle-switch-label::before {
  left: 20px;
}

.switch-block__container {
  display: flex;
}

.switch-block__big-descr {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: var(--main-font-weight);
}

.switch-block__small-descr {
  padding-left: 44px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--grey-dark);
}