.main-view {
  font-family: var(--main-font-family);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-view-form {
  max-width: 960px;
  max-height: 547px;

  border-radius: 15px;

  background-color: var(--white);
}

.main-view-form__title {
  padding: 17px 31px;
  font-size: 19px;
  line-height: 27px;
  font-weight: 700;
  border-bottom: 1px solid var(--grey);
}

.main-view-form__body {
  border-bottom: 1px solid var(--grey);
  padding: 17px 15px 30px 31px;
}

.main-view-form__body-title {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: var(--main-font-weight);
}

.main-view-form__body-container {
  padding-top: 17px;

  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: auto auto auto;
  gap: 31px 14px;
}

.main-view-form__body-container > div.main-view-form__body-item:nth-child(1) {
  justify-self: end;
}
 
.main-view-form__body-container > div.main-view-form__body-item:nth-child(2) {
  justify-self: start;
}
 
.main-view-form__body-container > div.main-view-form__body-item:nth-child(3) {
  grid-column: 2;
}
 
.main-view-form__body-container > div.main-view-form__body-item:nth-child(4) {
  justify-self: end;
}
 
.main-view-form__body-container > div.main-view-form__body-item:nth-child(5) {
  justify-self: start;
}

.main-view-form__footer {
  padding: 23px 15px 66px 31px;
}

.main-view-form__footer-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .main-view-form {
      max-width: 100%;
      max-height: 100%;
      padding: 15px;
  }

  .main-view-form__body-container {
    grid-template-columns: 1fr;
  }

  .main-view-form__body-container > div.main-view-form__body-item:nth-child(1) {
    justify-self: start;
  }
   
  .main-view-form__body-container > div.main-view-form__body-item:nth-child(2) {
    justify-self: start;
  }
   
  .main-view-form__body-container > div.main-view-form__body-item:nth-child(3) {
    grid-column: 1;
  }
   
  .main-view-form__body-container > div.main-view-form__body-item:nth-child(4) {
    justify-self: start;
  }
   
  .main-view-form__body-container > div.main-view-form__body-item:nth-child(5) {
    justify-self: start;
  }
}
